@keyframes fadeIn {
    from {
      opacity: 0;
      visibility: visible;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
      visibility: hidden;
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes delayShow {
    from {
      visibility: visible;
    }
    to {
      visibility: visible;
    }
  }
  
  @keyframes slideInLeftHide {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: hidden;
    }
  }
  
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
    }
  }
  
  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
    }
  }
  
  @keyframes slideInRightHide {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: hidden;
    }
  }
  
  @keyframes hairEffect {
    0% {
      visibility: visible;
    }
    20% {
      visibility: visible;
      transform: rotate(0deg);
    }
    45% {
      transform: rotate(3deg);
      transform-origin: top;
      visibility: visible;
    }
    50% {
      transform: rotate(3deg);
      transform-origin: top;
      visibility: visible;
    }
  }
  
  @keyframes womenSpeakEffect {
    0% {
      visibility: visible;
    }
    39% {
      transform: scale3d(1, 1, 1);
    }
    40% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    41% {
      transform: scale3d(1, 1, 1);
    }
    42% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    43% {
      transform: scale3d(1, 1, 1);
    }
    44% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    45% {
      transform: scale3d(1, 1, 1);
    }
    46% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    47% {
      transform: scale3d(1, 1, 1);
    }
    48% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    49% {
      transform: scale3d(1, 1, 1);
    }
    49.5% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      transform: scale3d(1, 1, 1);
      visibility: visible;
    }
  }
  
  @keyframes zoomInOut {
    0% {
      visibility: visible;
    }
    50% {
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
      transform: scale3d(1.3, 1.3, 1.3);
      visibility: visible;
    }
  }
  
  @keyframes search {
    0% {
      visibility: visible;
    }
    10% {
      transform: translate(2%, 2%);
      visibility: visible;
    }
    20% {
      transform: translate(4%, 4%);
      visibility: visible;
    }
    30% {
      transform: translate(6%, 4%);
      visibility: visible;
    }
    40% {
      transform: translate(8%, 2%);
      visibility: visible;
    }
    50% {
      transform: translate(10%, 0%);
      visibility: visible;
    }
  }
  
  @keyframes headEffect {
    0% {
      visibility: visible;
      transform-origin: bottom;
    }
    42% {
      transform: rotate(0deg);
    }
    44% {
      transform: rotate(.3deg);
    }
    48% {
      transform: rotate(-.3deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes manSpeakEffect {
    0% {
      visibility: visible;
    }
    1% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    2% {
      transform: scale3d(1, 1, 1);
    }
    3% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    4% {
      transform: scale3d(1, 1, 1);
    }
    5% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    6% {
      transform: scale3d(1, 1, 1);
    }
    7% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    8% {
      transform: scale3d(1, 1, 1);
    }
    9% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    10% {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes flipInX {
    0% {    
      visibility: visible;
    }
    30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -8deg);
    }
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, 3deg);
    }
    45% {
      transform: perspective(400px) rotate3d(1, 0, 0, -3deg);
    }
    50% {
      transform: perspective(400px);
    }
  }
  
  .hero {
    width: 800px;
    height: 800px;
    z-index: 333;
    margin: auto;
    padding: 0;
    align-content: center;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    transition: 0.2s transform ease-in-out;
  }
  
  .hero img {
    position: absolute;
    width: auto;
    height: auto;
    transition: 0.2s transform ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  
  .hero-1 .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: initial;
  }
  
  .hero-1 .body {
    width: 720px;
    height: auto;
    top: 65px;
    right: -105px;
    visibility: hidden;
    animation: slideInRight 0.2s linear 0s normal forwards;
  }
  
  .hero-1 .red-point {
    width: 25px;
    height: auto;
    top: 107px;
    right: 394px;
    visibility: hidden;
    animation: zoomInOut 3s linear 0.5s normal infinite;
  }
  
  .hero-1 .red-point:nth-child(3) {
    top: 232px;
    right: 377px;
    visibility: hidden;
    animation: zoomInOut 3s linear 0.7s normal infinite;
  }
  
  .hero-1 .red-point:nth-child(4) {
    top: 319px;
    right: 433px;
    visibility: hidden;
    animation: zoomInOut 3s linear 0.9s normal infinite;
  }
  
  .hero-1 .red-point:nth-child(5) {
    top: 442px;
    right: 363px;
    visibility: hidden;
    animation: zoomInOut 3s linear 1.1s normal infinite;
  }
  
  .hero-1 .lens {
    width: 600px;
    height: auto;
    top: 20px;
    left: -20px;
    visibility: hidden;
    animation: fadeIn 0.3s linear 0.2s normal forwards;
  }
  
  .hero-1 .lens-2 {
    width: 600px;
    height: auto;
    top: 20px;
    left: -20px;
    visibility: hidden;
    animation: search 3s linear 0.5s normal infinite;
  }
  
  .hero-1 .medicine {
    width: 245px;
    height: auto;
    top: 425px;
    left: 12px;
    visibility: hidden;
    animation: slideInLeft 0.2s linear 0.3s normal forwards;
  }
  
  .hero-1 .man {
    width: 254px;
    height: auto;
    top: 124px;
    right: 142px;
    visibility: hidden;
    animation: slideInRightHide 0.3s ease-out 1.8s normal forwards;
  }
  
  .hero-1 .man-b {
    width: 254px;
    height: auto;
    top: 219px;
    right: 142px;
    visibility: hidden;
    animation: delayShow 0.1s linear 2.1s normal forwards;
  }
  
  .hero-1 .man-h {
    width: 80px;
    height: auto;
    top: 125px;
    right: 208px;
    visibility: hidden;
    animation: headEffect 10s linear 2.1s normal infinite;
  }
  
  .hero-1 .man-m {
    width: 32px;
    height: auto;
    top: 192px;
    right: 268px;
    visibility: hidden;
    animation: manSpeakEffect 10s linear 2.1s normal infinite;
  }
  
  .hero-1 .man-d {
    width: 126px;
    height: auto;
    top: 317px;
    right: 241px;
    visibility: hidden;
    animation: flipInX 5s ease-out 2.1s normal infinite;
  }
  
  .hero-1 .women {
    width: 280px;
    height: auto;
    top: 138px;
    left: 140px;
    visibility: hidden;
    animation: slideInLeftHide 0.8s ease-out 1s normal forwards;
  }
  
  .hero-1 .women-b {
    width: 280px;
    height: auto;
    top: 157px;
    left: 140px;
    visibility: hidden;
    animation: delayShow 0.1s linear 1.8s normal forwards;
  }
  
  .hero-1 .women-h {
    width: 152px;
    height: auto;
    top: 138px;
    left: 196px;
    visibility: hidden;
    animation: hairEffect 10s linear 1.8s normal infinite;
  }
  
  .hero-1 .women-m {
    width: 18px;
    height: auto;
    top: 211px;
    left: 280px;
    visibility: hidden;
    animation: womenSpeakEffect 10s linear 1.8s normal infinite;
  }
  
  @media (max-width: 1000px) {
    .hero {
      width: calc(800px * 0.95);
      height: calc(800px * 0.95);
    }
  
    .hero-1 .body {
      width: calc(720px * 0.95);
      top: calc(65px * 0.95);
      right: calc(-105px * 0.95);
    }
  
    .hero-1 .lens, .hero-1 .lens-2 {
      width: calc(600px * 0.95);
      top: calc(20px * 0.95);
      left: calc(-20px * 0.95);
    }
  
    .hero-1 .medicine {
      width: calc(245px * 0.95);
      top: calc(425px * 0.95);
      left: calc(12px * 0.95);
    }
  
    .hero-1 .man {
      width: calc(254px * 0.95);
      top: calc(124px * 0.95);
      right: calc(142px * 0.95);
    }
  
    .hero-1 .red-point {
      width: calc(25px * 0.95);
      top: calc(107px * 0.95);
      right: calc(394px * 0.95);
    }
    
    .hero-1 .red-point:nth-child(3) {
      top: calc(232px * 0.95);
      right: calc(377px * 0.95);
    }
    
    .hero-1 .red-point:nth-child(4) {
      top: calc(319px * 0.95);
      right: calc(433px * 0.95);
    }
    
    .hero-1 .red-point:nth-child(5) {
      top: calc(442px * 0.95);
      right: calc(363px * 0.95);
    }
  
    .hero-1 .man-b {
      width: calc(254px * 0.95);
      top: calc(219px * 0.95);
      right: calc(142px * 0.95);
    }
    
    .hero-1 .man-h {
      width: calc(80px * 0.95);
      top: calc(125px * 0.95);
      right: calc(208px * 0.95);
    }
    
    .hero-1 .man-m {
      width: calc(32px * 0.95);
      top: calc(192px * 0.95);
      right: calc(268px * 0.95);
    }
    
    .hero-1 .man-d {
      width: calc(126px * 0.95);
      top: calc(317px * 0.95);
      right: calc(241px * 0.95);
    }
  
    .hero-1 .women {
      width: calc(280px * 0.95);
      top: calc(138px * 0.95);
      left: calc(140px * 0.95);
    }
  
    .hero-1 .women-b {
      width: calc(280px * 0.95);
      top: calc(157px * 0.95);
      left: calc(140px * 0.95);
    }
  
    .hero-1 .women-h {
      width: calc(152px * 0.95);
      top: calc(138px * 0.95);
      left: calc(196px * 0.95);
    }
    
    .hero-1 .women-m {
      width: calc(18px * 0.95);
      top: calc(211px * 0.95);
      left: calc(280px * 0.95);
    }
  }
  
  @media (max-width: 760px) {
    .hero {
      width: calc(800px * 0.72);
      height: calc(800px * 0.72);
    }
  
    .hero-1 .body {
      width: calc(720px * 0.72);
      top: calc(65px * 0.72);
      right: calc(-105px * 0.72);
    }
  
    .hero-1 .lens, .hero-1 .lens-2 {
      width: calc(600px * 0.72);
      top: calc(20px * 0.72);
      left: calc(-20px * 0.72);
    }
  
    .hero-1 .medicine {
      width: calc(245px * 0.72);
      top: calc(425px * 0.72);
      left: calc(12px * 0.72);
    }
  
    .hero-1 .man {
      width: calc(254px * 0.72);
      top: calc(124px * 0.72);
      right: calc(142px * 0.72);
    }
  
    .hero-1 .red-point {
      width: calc(25px * 0.72);
      top: calc(107px * 0.72);
      right: calc(394px * 0.72);
    }
    
    .hero-1 .red-point:nth-child(3) {
      top: calc(232px * 0.72);
      right: calc(377px * 0.72);
    }
    
    .hero-1 .red-point:nth-child(4) {
      top: calc(319px * 0.72);
      right: calc(433px * 0.72);
    }
    
    .hero-1 .red-point:nth-child(5) {
      top: calc(442px * 0.72);
      right: calc(363px * 0.72);
    }
  
    .hero-1 .man-b {
      width: calc(254px * 0.72);
      top: calc(219px * 0.72);
      right: calc(142px * 0.72);
    }
    
    .hero-1 .man-h {
      width: calc(80px * 0.72);
      top: calc(125px * 0.72);
      right: calc(208px * 0.72);
    }
    
    .hero-1 .man-m {
      width: calc(32px * 0.72);
      top: calc(192px * 0.72);
      right: calc(268px * 0.72);
    }
    
    .hero-1 .man-d {
      width: calc(126px * 0.72);
      top: calc(317px * 0.72);
      right: calc(241px * 0.72);
    }
  
    .hero-1 .women {
      width: calc(280px * 0.72);
      top: calc(138px * 0.72);
      left: calc(140px * 0.72);
    }
  
    .hero-1 .women-b {
      width: calc(280px * 0.72);
      top: calc(157px * 0.72);
      left: calc(140px * 0.72);
    }
  
    .hero-1 .women-h {
      width: calc(152px * 0.72);
      top: calc(138px * 0.72);
      left: calc(196px * 0.72);
    }
    
    .hero-1 .women-m {
      width: calc(18px * 0.72);
      top: calc(211px * 0.72);
      left: calc(280px * 0.72);
    }
  }
  
  @media (max-width: 576px) {
    .hero {
      width: calc(800px * 0.45);
      height: calc(800px * 0.45);
    }
  
    .hero-1 .body {
      width: calc(720px * 0.45);
      top: calc(65px * 0.45);
      right: calc(-105px * 0.45);
    }
  
    .hero-1 .lens, .hero-1 .lens-2 {
      width: calc(600px * 0.45);
      top: calc(20px * 0.45);
      left: calc(-20px * 0.45);
    }
  
    .hero-1 .medicine {
      width: calc(245px * 0.45);
      top: calc(425px * 0.45);
      left: calc(12px * 0.45);
    }
  
    .hero-1 .man {
      width: calc(254px * 0.45);
      top: calc(124px * 0.45);
      right: calc(142px * 0.45);
    }
  
    .hero-1 .red-point {
      width: calc(25px * 0.45);
      top: calc(107px * 0.45);
      right: calc(394px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(3) {
      top: calc(232px * 0.45);
      right: calc(377px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(4) {
      top: calc(319px * 0.45);
      right: calc(433px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(5) {
      top: calc(442px * 0.45);
      right: calc(363px * 0.45);
    }
  
    .hero-1 .man-b {
      width: calc(254px * 0.45);
      top: calc(219px * 0.45);
      right: calc(142px * 0.45);
    }
    
    .hero-1 .man-h {
      width: calc(80px * 0.45);
      top: calc(125px * 0.45);
      right: calc(208px * 0.45);
    }
    
    .hero-1 .man-m {
      width: calc(32px * 0.45);
      top: calc(192px * 0.45);
      right: calc(268px * 0.45);
    }
    
    .hero-1 .man-d {
      width: calc(126px * 0.45);
      top: calc(317px * 0.45);
      right: calc(241px * 0.45);
    }
  
    .hero-1 .red-point {
      width: calc(25px * 0.45);
      top: calc(107px * 0.45);
      right: calc(394px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(3) {
      top: calc(232px * 0.45);
      right: calc(377px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(4) {
      top: calc(319px * 0.45);
      right: calc(433px * 0.45);
    }
    
    .hero-1 .red-point:nth-child(5) {
      top: calc(442px * 0.45);
      right: calc(363px * 0.45);
    }
  
    .hero-1 .man-b {
      width: calc(254px * 0.45);
      top: calc(219px * 0.45);
      right: calc(142px * 0.45);
    }
    
    .hero-1 .man-h {
      width: calc(80px * 0.45);
      top: calc(125px * 0.45);
      right: calc(208px * 0.45);
    }
    
    .hero-1 .man-m {
      width: calc(32px * 0.45);
      top: calc(192px * 0.45);
      right: calc(268px * 0.45);
    }
    
    .hero-1 .man-d {
      width: calc(126px * 0.45);
      top: calc(317px * 0.45);
      right: calc(241px * 0.45);
    }
  
    .hero-1 .women {
      width: calc(280px * 0.45);
      top: calc(138px * 0.45);
      left: calc(140px * 0.45);
    }
  
    .hero-1 .women-b {
      width: calc(280px * 0.45);
      top: calc(157px * 0.45);
      left: calc(140px * 0.45);
    }
  
    .hero-1 .women-h {
      width: calc(152px * 0.45);
      top: calc(138px * 0.45);
      left: calc(196px * 0.45);
    }
    
    .hero-1 .women-m {
      width: calc(18px * 0.45);
      top: calc(211px * 0.45);
      left: calc(280px * 0.45);
    }
  }
  
  @media (max-width: 360px) {
    .hero {
      width: calc(800px * 0.36);
      height: calc(800px * 0.36);
    }
  
    .hero-1 .body {
      width: calc(720px * 0.36);
      top: calc(65px * 0.36);
      right: calc(-105px * 0.36);
    }
  
    .hero-1 .lens, .hero-1 .lens-2 {
      width: calc(600px * 0.36);
      top: calc(20px * 0.36);
      left: calc(-20px * 0.36);
    }
  
    .hero-1 .medicine {
      width: calc(245px * 0.36);
      top: calc(425px * 0.36);
      left: calc(12px * 0.36);
    }
  
    .hero-1 .man {
      width: calc(254px * 0.36);
      top: calc(124px * 0.36);
      right: calc(142px * 0.36);
    }
  
    .hero-1 .red-point {
      width: calc(25px * 0.36);
      top: calc(107px * 0.36);
      right: calc(394px * 0.36);
    }
    
    .hero-1 .red-point:nth-child(3) {
      top: calc(232px * 0.36);
      right: calc(377px * 0.36);
    }
    
    .hero-1 .red-point:nth-child(4) {
      top: calc(319px * 0.36);
      right: calc(433px * 0.36);
    }
    
    .hero-1 .red-point:nth-child(5) {
      top: calc(442px * 0.36);
      right: calc(363px * 0.36);
    }
  
    .hero-1 .man-b {
      width: calc(254px * 0.36);
      top: calc(219px * 0.36);
      right: calc(142px * 0.36);
    }
    
    .hero-1 .man-h {
      width: calc(80px * 0.36);
      top: calc(125px * 0.36);
      right: calc(208px * 0.36);
    }
    
    .hero-1 .man-m {
      width: calc(32px * 0.36);
      top: calc(192px * 0.36);
      right: calc(268px * 0.36);
    }
    
    .hero-1 .man-d {
      width: calc(126px * 0.36);
      top: calc(317px * 0.36);
      right: calc(241px * 0.36);
    }
  
    .hero-1 .women {
      width: calc(280px * 0.36);
      top: calc(138px * 0.36);
      left: calc(140px * 0.36);
    }
  
    .hero-1 .women-b {
      width: calc(280px * 0.36);
      top: calc(157px * 0.36);
      left: calc(140px * 0.36);
    }
  
    .hero-1 .women-h {
      width: calc(152px * 0.36);
      top: calc(138px * 0.36);
      left: calc(196px * 0.36);
    }
    
    .hero-1 .women-m {
      width: calc(18px * 0.36);
      top: calc(211px * 0.36);
      left: calc(280px * 0.36);
    }
  }
  